https://courses.cognitiveclass.ai/courses/course-v1:Cognitiveclass+PY0101EN+v2/courseware/c6143d9ff5764057a91e53fa8a3a6dff/884a7a2954a84eda9d6f39bca49bf02a/

# Reading files with open

In [2]:
example1 = "example1.txt"
file1 = open(example1,'r')

In [3]:
file1.name

'example1.txt'

In [4]:
file1.mode

'r'

In [5]:
FileContent = file1.read()
FileContent

'Tatiana Acero Cuellar\nJulietta Sophia Mendivelso Rodriguez\nManuel Sebastian Torres Hernandez\nLina Maria Duque Valencia\nCristian Andrey Galvis Florez'

In [6]:
print(FileContent)

Tatiana Acero Cuellar
Julietta Sophia Mendivelso Rodriguez
Manuel Sebastian Torres Hernandez
Lina Maria Duque Valencia
Cristian Andrey Galvis Florez

In [7]:
type(FileContent)

str

In [8]:
file1.close()

## A Better Way to Open a File
Using the <code>with</code> statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [9]:
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

Tatiana Acero Cuellar
Julietta Sophia Mendivelso Rodriguez
Manuel Sebastian Torres Hernandez
Lina Maria Duque Valencia
Cristian Andrey Galvis Florez

In [10]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

Tati

In [11]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

Tati
ana
Acero C
uellar
Julietta

In [12]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

Tatiana Acero Cu
ellar

Julietta

In [27]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())
#y si quiero leer otra que no sea la primera?

first line: Tatiana Acero Cuellar

In [21]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

Iteration 0 :  Tatiana Acero Cuellar

Iteration 1 :  Julietta Sophia Mendivelso Rodriguez

Iteration 2 :  Manuel Sebastian Torres Hernandez

Iteration 3 :  Lina Maria Duque Valencia

Iteration 4 :  Cristian Andrey Galvis Florez

In [24]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [25]:
FileasList[0]

'Tatiana Acero Cuellar\n'

In [29]:
with open(example1, "r") as file1:
    print("first line: " + FileasList[1])
#Ver in[27]

first line: Julietta Sophia Mendivelso Rodriguez

# Writing files with open

In [34]:
#example2 = "example2.txt"
#file2 = open(example2,'w')

In [36]:
with open("example2.txt",'w') as writefile:
    writefile.write("This is line A\n")

In [37]:
with open("example2.txt",'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [62]:
with open("example2.txt",'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")
#No se reescribe el archivo, toca poner todos los datos de nuevo, como hacer para reescribir?

In [63]:
with open("example2.txt",'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [64]:
with open("example2.txt",'a') as writefile:
    writefile.write("This is line C\n")
#cambiando r por a se puede reescribir el file

In [65]:
with open("example2.txt",'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [66]:
Lines = ["This is line D\n", "This is line E\n", "This is line F\n"]
Lines

['This is line D\n', 'This is line E\n', 'This is line F\n']

In [67]:
# Write the strings in the list to text file

with open('example2.txt', 'a') as writefile:
    for line in Lines:
        writefile.write(line)

In [68]:
with open("example2.txt",'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D
This is line E
This is line F

Copy a File into another
Let's copy the file example2.txt to the file example3.txt:

In [69]:
# Copy file to another

with open('example2.txt','r') as readfile:
    with open('example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [70]:
with open('example3.txt','r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D
This is line E
This is line F

# Loading and viewing data pandas

In [1]:
import pandas as pd

In [26]:
csv_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [27]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [7]:
# Access to the column Length

x = df[['Length']]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [8]:
y = df[['Artist','Length','Genre']] #extrae las columnas que piden
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

In [9]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [10]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

In [11]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [12]:
# Access the column using the name

df.loc[0, 'Artist']

'Michael Jackson'

In [14]:
# Slicing the dataframe
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [15]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [22]:
df.loc[df['Claimed Sales (millions)'].idxmin()]

Artist                                          Bee Gees
Album                               Saturday Night Fever
Released                                            1977
Length                                           1:15:54
Genre                                              disco
Music Recording Sales (millions)                    20.6
Claimed Sales (millions)                              40
Released.1                                     15-Nov-77
Soundtrack                                             Y
Rating                                                 7
Name: 6, dtype: object